{% extends 'base.html' %}
{% block title %}agregar inmuebles{% endblock %}


{% block formularioagregarinmueble %}
<h2>Agregar inmueble</h2>
    <div class="container d-flex justify-content-center">
        <div class="row">
            <dix class="col-12 mt-4">
                <form method="post">
                    {% csrf_token %}
                    {{ form.as_p }}
                    {% comment %} {{ usuario_form.as_p }}
                    {{ user_form.as_p }} {% endcomment %}
                    <button type="submit">Agregar Inmueble</button>
                </form>
            </dix>
        </div>
    </div>
{% endblock %}