{% extends 'base.html' %}
{% block title %}INDEX{% endblock %}

{%block tabla%}

<h1>Inmuebles</h1>
    {% if user.is_authenticated %}
        <h1>Bienvenido, {{ nombre_usuario }}!</h1>
    {% endif %}
    <table class="table">
        <thead>
            <tr>
                <th scope="col">Nombre</th>
                <th scope="col">Descripcion</th>
                <th scope="col">Precio Mensual</th>
                <th scope="col">Comuna</th>
            </tr>
        </thead>
        <tbody>
            {% for inmueble in inmuebles %}
                <tr>
                    {% comment %} <th scope="row">1</th> {% endcomment %}
                    <td>{{inmueble.nombre}}</td>
                    <td>{{inmueble.descripcion}}</td>
                    <td>{{inmueble.presio_mensual}}</td>
                    <td>{{inmueble.comuna}}</td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}